* {
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-type: none;
}

nav ul li {
    display: block;
    padding: 0;
}

nav ul li a{
    color: #ffffff;
}

nav ul li a.active {
    color: #0e6486;
    font-weight:bolder;
}

@media only screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

header, nav, main, footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    color: #ffffff;
    display: inline-flex;
    align-items:center;
    margin: 1% auto;
    padding-left: 0;
    height: 9em;
    margin-left: 4%;
    position: relative;
} 
header h1{
    margin: 0;
    font-size: 2.3rem;
    display: inline-block;
    margin-left: 4%;
    margin-right: 0;
}

html body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 95%;
}
body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body.home{
    background-image: url('../img/background-home.jpg');
}
body.impactos{
    background-image: url('../img/background-impacto.jpg');
}
body.ajuda{
    background-image: url('../img/background-ajuda.jpg');
}
body.campanha{
    background-image: url('../img/background-campanha.jpg');
}
.logo-blueocean{
    background-size: cover;
    margin-left: 100px;
    display: inline-flex;
    height: 40px;
    margin-top: 10px;
}
@media only screen and (max-width: 600px){
    .logo-blueocean{
        margin-left: 4%;
    }
}
@media only screen and (max-width: 600px){
    header {
        margin-left: 0;
        margin-right: 15%;
    }
}
.menu-icon {
    font-size: 4.0rem;
    cursor: pointer;
    margin-right: 100%;
    margin-left: 0;
    display: block;
    
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}
.menu {
    position: fixed;
    top: 0;
    right: -800px;
    width: 500px;
    height: 100%;
    background: #00233a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: right 0.6s ease;
}
@media only screen and (max-width:600px){
    .menu-icon{
        margin-left: 0;
        padding-left: 49%;
    }
}
.menu ul {
    padding: 0;
}
.menu ul li {
    margin: 15px 0;
}

.menu ul li a {
    color: white;
    font-size: 1.5rem;
}

.menu.open {
    right: 0;
}

.overlay.show {
    display: block;
}
.close-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    font-size: 3.0rem;
    margin: 3%;
}

/*/ HOME /*/                  /*/                        /*/

.titulo-blue{
    text-align: center;
    font-size: 2.6rem;
    margin: 12%;
    color: #ffffff;
}
.destacada-blue{
    color: #002e3b;
}
.frase-blue{
    text-align: left;
    margin-left: 30%;
    margin-right: 20%;
    font-size: 2.7rem;
    margin-bottom: 25%;
}
@media only screen and (max-width: 600px){
    .frase-blue{
        display: inline;
        margin-top: 0;
    }
}
@media only screen and (max-width: 600px){
    .titulo-blue{
        margin-top: 80%;
        margin-left: 4%;
    }
}

.sobre h1{
    text-align: center;
    color: #002e3b;
    font-size: 2.6em;
}
.articleHome{
    color: #ffffff;
    box-sizing: border-box;
    column-count: 2;
    column-gap: 3rem;
    margin: 10%;
    margin-right: 17%;
    margin-left: 17%;
    margin-top: 3%;
    font-size: 1.4rem;
}

@media only screen and (max-width: 600px) {
    .articleHome {
        column-count: 1; /* Uma coluna para telas menores */
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 600px){
    .sobre{
        margin-top: 90%;
    }
}

/*/ IMPACTOS /*/                   /*/                            /*/
.titulo-impactos{
    text-align: center;
    font-size: 2.6rem;
    margin: 12%;
    margin-bottom: 20%;
    color: #ffffff;
}
@media only screen and (max-width: 600){
    .titulo-impactos{
        margin-top: 80%;
        display: inline;
    }
}
.destacada-impactos{
    color: #01a2ff;
}
.circuloImpactos {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #003a70;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 46%;
}
@media  only screen and (max-width: 600px){
    .circuloImpactos{
        margin-top: 60%;
        margin-left: 28%;
        margin-bottom: 70%;
    }
}
.articleImpactos{
    color: #ffffff;
    box-sizing: border-box;
    column-count: 2;
    column-gap: 3rem;
    margin: 10%;
    margin-right: 17%;
    margin-left: 17%;
    margin-top: 12%;
    font-size: 1.4rem;
}
.articleImpactos h2 {
    text-align: center;
    color: #01a2ff;
}
.articleImpactos strong {
    color: #63a1ca;
}
@media only screen and (max-width: 600px) {
    .articleImpactos {
        column-count: 1; /* Uma coluna para telas menores */
        font-size: 1.3rem;
    }
}

/*/ COMO AJUDAR /*/           /*/                /*/
.titulo-ajuda{
    text-align: center;
    font-size: 2.6rem;
    margin: 12%;
    color: #ffffff;
    margin-bottom: 23%;
    margin-top: 13%;
}
@media  only screen and (max-width: 600px){
    .titulo-ajuda{
        margin-top: 80%;
    }
}
.destacada-ajuda{
    color: #014261;
}
.circuloAjuda{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #003a70;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 46%;
}
@media  only screen and (max-width: 600px){
    .circuloAjuda{
        margin-top: 60%;
        margin-left: 28%;
        margin-bottom: 70%;
    }
}

.containerAjuda {
    max-width: 600px;
    margin: auto;
    padding: 80px;
    background-color: transparent;
    border-radius: 8px;
    margin-top: 15%;
}
@media  only screen and (max-width: 600px){
    .containerAjuda{
        margin-top: 60%;
    }
}
.containerAjuda h1 {
    text-align: center;
    color: #02618d;
    margin-bottom: 14%;
    font-size: 2.3rem;
}
.paragraph {
    margin: 6px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f971;
    display: none;
    color: #ffffff;
    font-size: 1.4rem;
}
.toggle-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 70px 90px;
    background-color: #b5c3d171;
    color: #fff;
    border-radius: 8px;
    transition: background-color 0.9s;
    margin-bottom: 6%;
    font-size: 1.5rem;
}
.toggle-button:hover {
    background-color: #005bb594;
}
.arrow {
    font-size: 40px;
}
@media  only screen and (max-width: 600px){
    .arrow{
        margin-left: 3%;
    }
}

/*/ CAMPANHA /*/                      /*/                            /*/

.titulo-campanha{
    text-align: center;
    font-size: 2.6rem;
    margin: 12%;
    color: #ffffff;
    margin-bottom: 15%;
}
.destacada-campanha{
    color:#007292;
}
@media only screen and (max-width: 600px){
    .titulo-campanha{
        display: inline-block;
        margin-top: 40%;
        margin-left: 7%;
    }
}
.circuloCampanha{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #003a70;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 46%;
    margin-bottom: 10%;
}
@media  only screen and (max-width: 600px){
    .circuloCampanha{
        margin-top: 60%;
        margin-left: 28%;
        margin-bottom: 70%;
    }
}
.articleCampanha{
    color: #ffffff;
    box-sizing: border-box;
    column-count: 1;
    column-gap: 3rem;
    margin: 30%;
    margin-bottom: 10%;
    margin-top: 12%;
    font-size: 1.6rem;
}
.articleCampanha h2{
    text-align: center;
    margin-bottom: 7%;
    color:#0a67a5; 
}
@media only screen and (max-width: 600){
    .articleCampanha h2 {
        display: inline-block;
    }
}
.articleCampanha strong{
    color: #00c8ff;
}
@media  only screen and (max-width: 600px){
    .articleCampanha{
        font-size: 1.6rem;
        display: inline;
    }
}

/*/ RODAPÉ /*/                              /*/                         /*/
.footer {
    background-color: #9c9c9c56;
    color: #fff;
    text-align: center;
    padding: 60px 671px;
    margin-top: 6%;
}
@media  only screen and (max-width: 600px){
    .footer{
        padding-left: 0;
    }
}
.footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.social-icons {
    margin: 9%;
}
.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #bbbbbbab;
}
.social-icons a:hover {
    background-color: #00486971;
}
.footer img{
    width: 60%;
    padding: 0;
    margin-top: 20%;
}
.sobre-o20{
    margin-bottom: 10%;
    margin-top: 4%;
    font-size: 1.4rem;
}
.copyright{
    color: #003558;
    font-size: 1.2rem;
}