* {
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-type: none;
}

nav ul li {
    display: block;
    padding: 0;
}

nav ul li a{
    color: #ffffff;
}

nav ul li a.active {
    color: #0e6486;
    font-weight:bolder;
}

@media only screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

header, nav, main, footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    color: #ffffff;
    display: inline-flex;
    align-items:center;
    margin: 1% auto;
    padding-left: 0;
    height: 9em;
    margin-left: 4%;
    position: relative;
} 
header h1{
    margin: 0;
    font-size: 2.3rem;
    display: inline-block;
    margin-left: 4%;
    margin-right: 0;
}

html body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 95%;
}
body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body.home{
    background-image: url('../img/background-home.jpg');
}
body.impactos{
    background-image: url('../img/background-impacto.jpg');
}
body.ajuda{
    background-image: url('../img/background-ajuda.jpg');
}
.logo-blueocean{
    background-size: cover;
    margin-left: 10px;
    display: inline-flex;
    height: 40px;
    margin-top: 10px;
}
@media only screen and (max-width: 600px){
    header {
        margin-left: 0;
        margin-right: 15%;
    }
}
.menu-icon {
    font-size: 4.0rem;
    cursor: pointer;
    margin: 100%;
    margin-right: 0;
    padding-left: 100%;
    display: block;
    
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}
.menu {
    position: fixed;
    top: 0;
    right: -800px;
    width: 500px;
    height: 100%;
    background: #00233a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: right 0.6s ease;
}
@media only screen and (max-width:600px){
    .menu-icon{
        margin-left: 0;
        padding-left: 49%;
    }
}
.menu ul {
    padding: 0;
}
.menu ul li {
    margin: 15px 0;
}

.menu ul li a {
    color: white;
    font-size: 1.5rem;
}

.menu.open {
    right: 0;
}

.overlay.show {
    display: block;
}

/*/ HOME /*/                  /*/                        /*/

.titulo-blue{
    text-align: center;
    font-size: 2.6rem;
    margin: 12%;
    color: #ffffff;
}
.destacada-blue{
    color: #002e3b;
}
.frase-blue{
    text-align: left;
    margin-left: 30%;
    margin-right: 20%;
    font-size: 2.7rem;
    margin-bottom: 25%;
}
@media only screen and (max-width: 600px){
    .frase-blue{
        display: inline;
        margin-top: 0;
    }
}
@media only screen and (max-width: 600px){
    .titulo-blue{
        margin-top: 80%;
        margin-left: 4%;
    }
}

.sobre h1{
    text-align: center;
    color: #ffffff;
    font-size: 2.6em;
}
.articleHome{
    color: #ffffff;
    box-sizing: border-box;
    column-count: 2;
    column-gap: 3rem;
    margin: 10%;
    margin-right: 17%;
    margin-left: 17%;
    margin-top: 3%;
    font-size: 1.4rem;
}

@media only screen and (max-width: 600px) {
    .articleHome {
        column-count: 1; /* Uma coluna para telas menores */
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 600px){
    .sobre{
        margin-top: 90%;
    }
}

/*/ IMPACTOS /*/            /*/               /*/
@media only screen and (max-width: 600px) {
    .articleImpactos {
        column-count: 1; /* Uma coluna para telas menores */
        font-size: 1.3rem;
    }
}
.articleImpactos{
    color: #ffffff;
    box-sizing: border-box;
    column-count: 2;
    column-gap: 3rem;
    margin: 10%;
    margin-right: 17%;
    margin-left: 17%;
    margin-top: 12%;
    font-size: 1.4rem;
}
.articleImpactos h2 {
    text-align: center;
    color: #01a2ff;
}
.articleImpactos strong {
    color: #63a1ca;
}
.titulo-impactos{
    text-align: center;
    font-size: 2.6rem;
    margin: 12%;
    color: #ffffff;
}
@media only screen and (max-width: 600){
    .titulo-impactos{
        margin-top: 80%;
        margin-left: 4%;
        display: inline-block;
    }
}
.destacada-impactos{
    color: #01a2ff;
}
.circulo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #003a70;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 50%;
    margin-top: 10%;
}
@media  only screen and (max-width: 600px){
    .circulo{
        margin-top: 60%;
        margin-left: 28%;
        margin-bottom: 70%;
    }
}

/*/ COMO AJUDAR /*/           /*/                /*/
.titulo-ajuda{
    text-align: center;
    font-size: 2.6rem;
    margin: 12%;
    color: #ffffff;
    margin-bottom: 23%;
    margin-top: 20%;
}
@media  only screen and (max-width: 600px){
    .titulo-ajuda{
        margin-top: 80%;
    }
}
.destacada-ajuda{
    color: #0290d1;
}
.circuloAjuda{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #003a70;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 46%;
}
@media  only screen and (max-width: 600px){
    .circuloAjuda{
        margin-top: 60%;
        margin-left: 28%;
        margin-bottom: 70%;
    }
}

.containerAjuda {
    max-width: 600px;
    margin: auto;
    padding: 70px;
    background-color: transparent;
    border-radius: 8px;
    margin-top: 15%;
}
@media  only screen and (max-width: 600px){
    .containerAjuda{
        margin-top: 60%;
    }
}
.containerAjuda h1 {
    text-align: center;
    color: #038bda;
    margin-bottom: 14%;
    font-size: 2.3rem;
}
.paragraph {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f998;
    display: none;
    color: #ffffff;
    font-size: 1.4rem;
}
.toggle-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 40px 40px;
    background-color: #b5c3d18e;
    color: #fff;
    border-radius: 8px;
    transition: background-color 0.9s;
    margin-bottom: 5%;
    font-size: 1.4rem;
}
.toggle-button:hover {
    background-color: #005bb594;
}
.arrow {
    font-size: 20px;
}
@media  only screen and (max-width: 600px){
    .arrow{
        margin-left: 3%;
    }
}